/* src/components/DataRow.css */

.data-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc; /* Light gray border between rows */
  padding: 10px 0;
}

.heading {
  display: flex;
  background-color: #f0f0f0; /* Light gray background for the heading */
  padding: 10px;
  font-weight: bold;
}

.values {
  display: flex;
  padding: 10px;
}

.column {
  flex: 1;
  padding: 5px;
}

.risk-level {
  display: flex;
  align-items: center;
}

.low {
  color: #008000 !important; /* Green for low risk level */
}

.medium {
  color: #FFA500 !important; /* Orange for medium risk level */
}

.high {
  color: #FF0000 !important; /* Red for high risk level */
}
